.log-container{
    width:80%;
    margin:0 auto;
    height:100vh;
    padding-top:50px;
}

.log-container h2{
    font-weight: 300;
    text-align: center;
    font-size:35px;
}

.log-container input{
    font-size: 17px;
    width:100%;
    margin-top:10px;
    padding:12px 10px;
    box-sizing: border-box;
}
.log-container button{
    background: #03a9f4;
    font-size: 13px;
    padding: 10px;
    color:#fff;
    margin-top: 10px;
}
