.blue-btn{
    text-align: center;
    background: #2196f3;
    border-bottom: 1px solid #d7d7d7;
    color:white;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    cursor: pointer ;
    display: block;
    text-decoration: none;
}